body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-main {
  padding: 20px;
}

.nav {
  display: flex;
}

.nav-point {
  list-style: none;
  padding-right: 20px;
  color:white;
  text-decoration: none;
}

.bg-div {
  background-image: url('img/bg.jpg');
  height:100%;
  padding: 20px;
}

.screen_main {
  padding:34px;
}

.submitBtn {
  padding: 10px;
  padding-bottom: 14px;
  height:0px;
  width: 0px;
  background-color:rgb(61, 61, 255);
  color:white;
  border-top-right-radius:5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
}

.feedBtn {
  padding: 7px;
  height:17px;
  width: 17px;
  background-color:rgb(61, 61, 255);
  color:white;
  font-size: 15px;
  border-radius:5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-decoration: none;
}

.feedBtn:hover {
  background-color: white;
  color: rgb(61, 61, 255);
}

.submitBtn:hover {
  background-color: white;
  color: rgb(61, 61, 255);
}

.about_main {
  text-align: left;
  padding-left: 34px;
  padding-right: 34px;
}

.feedback {
  font-size: 30px;
}

.screen_main h2 {
  font-family: sans-serif;
  color: white;
  font-size: 50px;
  padding: 0px;
}

.row-1 a {
  text-decoration: none;
  color: white;
}

.download-link {
  font-size: 13px;
  text-align: right;
}

.download-link input {
  height: 11px;
}

@media screen and (max-width:414px) {
  .bg-div {
    width: 100vw;
    height: 100vh;
    padding: 0px;
  }

  .input_field {
    width: 200px;
    height: 17px;
  }

  .input_field_2 {
    width: 200px;
    height: 17px;
  }

  .submitBtn {
    padding: 3%;
    width: 59px;
    height: 26px;
    text-align: center;
  }

  .inner_screen_main {
    display: flex;
  }

  .nav-main {
    padding: 10px;
  }

  .about_logo {
    height: 90%;
    width: 50%;
    padding: 0%;
  }

  .about_main {
    padding: 0%;
    height: 100%;
    margin: 7%;
    text-align: center;
  }

  .article {
    padding: 0%;
    width: 95%;
    height: 50%;
  }

  .feedback {
    margin: 5px;
    width:85%;
  }

  .input_text_area {
    width: 64.3%;
  }

  .footer-main {
    width: 100%;
    height: 50%;
    background-image:url("img/bg.jpg");
    color: white;
    padding: 0%;
  }

  .row-1 {
    padding: 5%;
    display: flex;
  }

  .row-1 a {
    padding-right: 9%;
  }

  .row-2 {
    padding: 5%;
  }

  .rank {
    background-color: white;
    color: black;
    height: 140px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    text-align: left;
    border-color: rgb(0, 0, 0);
    max-width: 90%;
    margin: 5%;
    margin-top: 0%;
  }

  .input_field {
    padding:13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:200px;
    border-width: 1px;
    margin-bottom: 3%;
  }

  .input_field_2 {
    padding:13px;
    border-radius: 5px;
    width:200px;
    border-width: 1px;
    margin-bottom: 3%;
  }

  .input_text_area {
    margin-top: 3px;
    height: 100px;
    width: 200px;
    font-family:sans-serif;
    border-radius: 5px;
    padding: 13px;
  }

  .card {
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(26, 113, 212);
    margin: 3px;
    height: 100%;
    width: 100%;
    color:white
  }

  .card-container {
    border-radius: 3px;
  }
}

@media screen and (min-width:1545px) {
  .about_main {
    display: flex;
  }

  .about_logo {
    height: 300px;
    width: 317px;
  }

  .article {
    padding: 60px;
  }

  .row-1 {
    text-align: center;
    margin-left: 300px;
    padding-right: 300px;
  }
  
  .row-2 {
    padding-left: 500px;
    padding-right: 300px;
  }

  .footer-main {
    display: flex;
    background-image:url("img/bg.jpg");
    color: white;
    padding: 30px;
  }

  .rank {
    background-color: white;
    color: black;
    height: 150px;
    border-radius: 7px;
    border-style: solid;
    margin-left: 400px;
    margin-right: 400px;
    border-width: 1px;
    text-align: left;
    padding: 10px;
  }

  .input_text_area {
    margin-top: 3px;
    height: 100px;
    width: 400px;
    font-family:sans-serif;
    border-radius: 5px;
    padding: 13px;
  }

  .input_field {
    padding:13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:400px;
    border-width: 1px;
  }

  .input_field_2 {
    padding:13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:400px;
    border-width: 1px;
  }
}

@media screen and (min-width:1024px) {
  .input_field {
    padding:13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:400px;
    border-width: 1px;
  }

  .input_field_2 {
    padding:10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:350px;
    border-width: 1px;
  }

  .input_text_area {
    margin-top: 3px;
    height: 100px;
    width: 350px;
    font-family:sans-serif;
    border-radius: 5px;
    padding: 10px;
  }

  .about_main {
    display: flex;
  }

  .about_logo {
    height: 200px;
    width: 217px;
    padding-top: 140px;
  }

  .footer-main {
    display: flex;
    background-image:url("img/bg.jpg");
    color: white;
    padding: 30px;
  }

  .row-1 {
    text-align: center;
    padding-left: 200px;
    padding-right: 100px;
  }
  
  .row-2 {
    padding-left: 100px;
  }

  .rank {
    background-color: white;
    color: black;
    height: 150px;
    border-radius: 7px;
    border-style: solid;
    margin-left: 245px;
    width: 49%;
    border-width: 1px;
    text-align: left;
    padding: 10px;
  }

  .card {
    padding: 13px;
    border-radius: 7px;
    background-color: rgb(26, 113, 212);
    margin: 3px;
    height: 150px;
    width: 350px;
    color:white
  }

  .card-container {
    border-radius: 3px;
    display: flex;
  }
}